.heading{
    text-align: center;
    margin-top: 2rem;
}

.inputForm{
    margin: auto;
    max-width: 80%;
    text-align: center;
}
input[type="submit"],[aria-label]{
    cursor: pointer;
}
#editResult{
    display: none;
    margin-top: 15px;
    max-width: 80%;
    margin: auto;
}

td{
    background-color: whitesmoke;
    padding-right: 0.8rem;
    text-align: left;
    font-size: 20px;
}
